
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /*position: relative;*/
    width: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
}
/*.nav{*/
/*    position: fixed;*/
/*}*/


.menu {
    height: 54px;
    z-index: 100;
    line-height: 54px;
    /*margin-bottom: 1px;*/
}

.buynow {
    float: right;
    background: #82B440;
    margin-right: 20px;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 93px;


}

.navigation {
    margin-top: 54px;
    background-color: black;
    height: 70px;
}

.navigation ul {

    float: right;
    /*max-width: 1200px;*/
    margin: auto;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 0 20px;
}

.navigation ul li {
    margin-right: 60px;
    margin-top: 20px;
}

.navigation ul li a {
    color: #ffffffff;
    text-decoration: none;
}

.navigation ul li a .top {
    color: #C64CFF !important;
}

.text-center {
    text-align: center;
    background: black;
}

.text-h1 {
    color: #fff;
    margin: 0 auto;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
    position: relative;
    -webkit-animation: fadeInLeft 2s;
    animation: fadeInLeft 2s;
}

.text-h2 {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 20px;
    margin-bottom: 0;
    -webkit-animation: fadeInRight 2s;
    animation: fadeInRight 2s;
}

hr {
    width: 50px;
    height: 3px;
    background-color: #AD00FF;
    margin: 30px auto;
    border: 0;
    position: relative;
}

.scroll-down {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999999;
}

.scroll-down:before {
    content: '';
    display: block;
    border-bottom: 5px solid #AD00FF;
    border-right: 5px solid #AD00FF;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: scrollDown 1s infinite alternate;
    -moz-animation: scrollDown 1s infinite alternate;
    -o-animation: scrollDown 1s infinite alternate;
    -ms-animation: scrollDown 1s infinite alternate;
    animation: scrollDown 1s infinite alternate;
}

.text-second h2 {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 1.5;
}

.text-second h3 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.3;
    padding-top: 30px;
}

.text-second p {
    padding-top: 50px;
    margin-bottom: 0;
    margin: 0 0 10px;
    padding: 0;
}

.color {
    color: #AD00FF;
}

b, strong {
    font-weight: 700;
}

.container {
    text-align: center;
}

.box1 {
    width: 33.3%;
    float: left;
    padding: 80px;
    background-color: #AD00FF;
}

.box2 {
    width: 33.3%;
    float: left;
    padding: 80px;
    background-color: #8200BF;
}

.box3 {
    width: 33.3%;
    float: left;
    padding: 80px;
    background-color: #56007F;
}
.section.about h3{
    color: #FFF;
    letter-spacing: 1px;
}
.section.about p{
    font-size: 13px;
    color: #FFF;
    line-height: 1.5;
    padding-top: 20px;
    margin-bottom: 0;
}
.icon1{
    float: left;
    width: 25%;
}
.icon2{
    float: left;
    width: 25%;
}
.icon3{
    float: left;
    width: 25%;
}
.icon4{
    float: left;
    width: 25%;
}
.ion-ios-monitor-outline{

}

/*.ion-ios-monitor-outline:before {*/
/*    content: "\f465";*/
/*}*/
i {
    color: #AD00FF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding:0 100px;
    cursor: pointer;
}
h4{
    font-weight: 100;

}
.get-started{
    margin-top: 40%;
    text-align: center;
    background-color: #AD00FF;
    height: 368px;
}
.we-create{
    color: #FFF;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 10px;
    line-height: 2;
    padding: 0 5px;
}
.started{
    text-decoration: none;
    color: #FFF;
    border: 3px solid #FFF;
    margin-top: 30px;
    padding: 10px 30px;
}
.section-heading{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 204px;
}
.img-1{
    width: 33.3%;
    float: left;
}
.img-2{
    width: 33.3%;
    float: left;
}
.img-3{
    width: 33.3%;
    float: left;
}
.team .mask{
    background-color: #AD00FF;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.team{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.team h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 25px;
    padding-top: 120px;
}
.team p {
    font-size: 15px;
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 2;
}
.image-center{
    margin-right: -15px;
    margin-left: -15px;
}
.section-dark {
    margin-top: 40%;
    height: 335px;
    padding: 100px 0;
    background-color: #AD00FF;
}
.section-dark h2{
    color: #FFF;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 10px;
    line-height: 2;
    padding: 0 5px;
}
.section-dark h3{
    color: #FFF;
    line-height: 1.5;
    text-align: center;
}
.client{
    width: 25%;
    float: left;
}
.project{
    width: 25%;
    float: left;
}
.awards{
    width: 25%;
    float: left;
}
.coffee{
    width: 25%;
    float: left;
}
.dark-violet{
}
.filters-group{
    text-align: center;
}
.filters-group .filter{
    padding: 0 20px;
    text-decoration: none;
}
a{
    color: #AD00FF;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
}
